name: Run integration tests

on:
  pull_request:
    types: [labeled, synchronize, reopened]
    paths-ignore:
      - 'docs/**'

jobs:
  integration-tests:
    runs-on: ubuntu-22.04

    if: contains(github.event.pull_request.labels.*.name, 'integration-tests')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Install dependencies
        run: |
          set -x

          sudo apt-get update -qq
          sudo apt-get install -y --no-install-recommends \
          qemu-utils ca-certificates libvirt-clients libcephfs-dev \
          librbd-dev librados-dev libc-bin gcc
          sudo apt-get install -y qemu-kvm libvirt-daemon-system
          sudo systemctl enable --now libvirtd
          sudo usermod -aG kvm,libvirt $USER
          sudo setfacl -m user:$USER:rw /var/run/libvirt/libvirt-sock
          sudo update-ca-certificates
          sudo rm -rf /var/lib/apt/lists

      - name: Run integration tests
        run: make integration-tests
