name: Lint Golang Codebase

on:
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**/*.md'
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
      - run: sudo apt update  && sudo apt install -y libcephfs-dev librbd-dev librados-dev
      - name: golangci-lint
        run: make lint
